<div class="container-fuint">
    <div>
        <div class="background_gioithieu d-flex justify-content-center">

            <div class="m-auto">
                <h2 class="text-light ms-3">Giới thiệu</h2>
                <div class="d-flex "> 
                    <a  class="text-color text-decoration-none" href="#">Trang chủ </a>
                    <p class="ps-3 pe-3 text-color ">/</p>
                    <a class="text-color text-decoration-none">Giới thiệu</a>
                </div>
            </div>
        </div>

    </div>
    <div class=" d-flex justify-content-evenly  mt-5" id="gioithieu">
        <div class="col-5 m-2">
    
            <h4 class="text-warning">Giới thiệu</h4>
            <h2 class="">Hệ thống bán sách cũ qua mạng giá rẻ.</h2>
            <p>Chào mừng bạn đến với Old Book Store – hệ thống bán sách cũ trực tuyến với giá cả phải chăng. Tại Old Book Store, chúng tôi mang đến cho bạn một kho tàng sách cũ phong phú, từ những cuốn sách cổ điển đầy giá trị đến các tác phẩm hiện đại đã qua sử dụng. Mỗi cuốn sách đều được tuyển chọn kỹ lưỡng để đảm bảo chất lượng và giá trị văn hóa, giúp bạn dễ dàng tìm thấy những tác phẩm yêu thích với mức giá hợp lý. Khám phá thế giới tri thức qua những trang sách cũ và kết nối với những câu chuyện đã từng chinh phục nhiều thế hệ độc giả. Hãy để Old Book Store là điểm đến tin cậy của bạn cho mọi nhu cầu sách cũ!.</p>
            <div class="d-flex justify-content-around">
                <div class="col-3">
                    <h6><i class="bi bi-arrow-right-short text-warning"></i> Bán sách uy tính</h6>
                    <h6><i class="bi bi-arrow-right-short text-warning"></i> Giá cả phải chăng</h6>
                </div>
                <div  class="col-5">
                    <h6><i class="bi bi-arrow-right-short text-warning"></i> Giao hàng nhanh chóng</h6>
                    <h6> <i class="bi bi-arrow-right-short text-warning"></i> Đảm bảo chất lượng</h6>
                </div>
    
    
            </div><button type="button" class="master-button border border-warning text-light m-2">Xem thêm</button>
            
        </div>
       
        <div class="col-5">
    
            <img class="img-gioithieu col-12 rounded" src="./assets/img/img-gioithieu.png" alt="">
            <div class="gioithieu-sale rounded "></div>
        </div>
        
    
    </div>
    <div class="danhgia d-flex mt-5">
        <div class="col-6 bg-danhgia">
            <h2 class="text-light text-center mt-5">Khách hàng đánh giá</h2>
            <div class=" d-flex justify-content-center mt-5">
                <img class="img-danhgia m-2" src="./assets/img/img-gioithieu.png" alt="">
                <img class="img-danhgia m-2" src="./assets/img/img-gioithieu.png" alt="">
                <img class="img-danhgia m-2" src="./assets/img/img-gioithieu.png" alt="">
            </div>
            <div class="d-flex justify-content-center mt-5">
               
                <h5 class="text-light text-center col-5">"Tôi rất hài lòng với trải nghiệm của mình và sẽ quay lại trang web này mỗi khi thú cưng của tôi cần chăm sóc y tế."</h5>
               
            </div>
            <h6 class="text-warning text-center mt-3">
                Trần lượng
            </h6>
        </div>
        <div class="col-6 d-flex flex-wrap">
            <img class="col-12" src="https://inkythuatso.com/uploads/thumbnails/800/2023/03/anh-manga-trang-den-inkythuatso-02-10-01-28.jpg" alt="">
            
        </div>
    </div>

</div>