<div class="d-flex justify-content-evenly wanzor-header-fixed border-bottom border-warning"
  [class.fixed-hide]="isFixedHide" [class.fixed-show]="isFixedShow" [class.fixed-top]="isFixedTop">
  <img class="img-logo m-1" src="./assets/img/logo.png" alt="">
  <div class="col-5 mt-3 d-flex">
    <div class="a"><a class="fw-bold m-3" routerLink="/">Trang Chủ</a></div>
    <div class="a"><a class="fw-bold m-3" routerLink="/about">Giới thiệu</a></div>
    <div class="a"><a class="fw-bold m-3" routerLink="/products">Sản phẩm</a></div>
    <div class="a"><a class="fw-bold m-3" routerLink="/contact">Liên hệ</a></div>

    <div *ngIf="user && user.role" class="a">
      <a class="fw-bold m-3" routerLink="/admin">Quản lý</a>
    </div>
  </div>
  <div class="input-seacher">
    <div class="input-container">
      <input type="text" class="beautiful-input" placeholder="Tìm kiếm" #myInput
        (keyup.enter)="doSearch(myInput.value)">
      <button (click)="doSearch(myInput.value)" class="search-button" aria-label="Tìm kiếm">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
          viewBox="0 0 16 16">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
        </svg>
      </button>
    </div>
  </div>
  <div class="col-2 mt-3 d-flex">
    <a routerLink="/cart" class="position-relative pe-2 me-4">
      <i class="bi bi-cart4 position-relative"></i><span class="position-absolute top-5 start-100 translate-middle badge rounded-pill text-bg-secondary">{{totalQuantity}}<span class="visually-hidden">unread messages</span></span>
    </a>
    <div *ngIf="user==null" class="a"><a class="fw-bold m-1" aria-current="page" routerLink="/login"><i class="bi bi-person-fill"></i></a></div>
    <div *ngIf="user!=null" class="a"><a class="fw-bold m-1" aria-current="page" routerLink="/account"><i class="bi bi-person-fill"></i></a></div>
   
  </div>
</div>