
.background_nguoidung{
    background-image: url(/assets/img/bg-tabs.jpg);
     background-size: cover; 
     background-repeat: no-repeat; 
     background-position: center; 
     height: 32vh;
     width: 100%;
     
}
.text-color{
    color: #fa7304;
    
}
.img-logo{
    width: 100px;
    height: 100px;
}