<div class="contens-sales mt-5" id="giamgia">
    <div class="container d-flex justify-content-center">
        <div class="col-5 m-5">
            <h4 class="text-light ms-3">Ưu đãi hàng tuần</h4>
            <h1 class="text-light">Dịch vụ bán hàng tận tâm</h1>
            <p class="text-light ">Chào mừng bạn đến với ứng dụng Old Bookstore! Hãy khám phá các ưu đãi hàng tuần hấp dẫn dành cho những đầu sách cũ với giá cực kỳ ưu đãi.</p>
            <p class="text-light "> Chúng tôi cam kết mang đến cho bạn những cuốn sách chất lượng với dịch vụ bán hàng tận tâm, đảm bảo trải nghiệm mua sắm tuyệt vời.</p>
            <p class="text-light "> Đừng bỏ lỡ cơ hội sở hữu những cuốn sách yêu thích với giá không thể tốt hơn!</p>
                <div class="img-sale d-flex">
                    <img class="img-sales m-2 rounded" src="https://media.vov.vn/sites/default/files/styles/large/public/2021-05/doaremon_wdyw.jpg" alt="">
                    <img class="img-sales m-2 rounded" src="https://i.imgur.com/sJkN0sF.jpg" alt="">
                    <img class="img-sales m-2 rounded" src="https://digiart.academy/upload/images/tao-hinh-nhan-vat-4.jpg" alt="">
                </div>
            <div class="d-flex justify-content-between">
                <button type="button" class="master-button border border-warning text-light m-2">Khám phá</button>
                 <div class="sales">
                    <h6 class="text-center mt-2">sales (30%)</h6>
                 </div>
            </div>


        </div>

    </div>


</div>