<div class="introduce d-flex justify-content-evenly  mt-5" id="gioithieu">
  <div class="col-5 m-2">

    <h4 class="text-warning">Giới thiệu</h4>
    <h2 class="">Hệ thống bán sách cũ qua mạng giá rẻ.</h2>
    <p>Chào mừng bạn đến với Old Book Store – hệ thống bán sách cũ trực tuyến với giá cả phải chăng. Tại Old Book Store,
      chúng tôi mang đến cho bạn một kho tàng sách cũ phong phú, từ những cuốn sách cổ điển đầy giá trị đến các tác phẩm
      hiện đại đã qua sử dụng. Mỗi cuốn sách đều được tuyển chọn kỹ lưỡng để đảm bảo chất lượng và giá trị văn hóa, giúp
      bạn dễ dàng tìm thấy những tác phẩm yêu thích với mức giá hợp lý. Khám phá thế giới tri thức qua những trang sách
      cũ và kết nối với những câu chuyện đã từng chinh phục nhiều thế hệ độc giả. Hãy để Old Book Store là điểm đến tin
      cậy của bạn cho mọi nhu cầu sách cũ!.</p>
    <div class="d-flex justify-content-around">
      <div class="col-3">
        <h6><i class="bi bi-arrow-right-short text-warning"></i> Bán sách uy tính</h6>
        <h6><i class="bi bi-arrow-right-short text-warning"></i> Giá cả phải chăng</h6>
    </div>
    <div  class="col-5">
        <h6><i class="bi bi-arrow-right-short text-warning"></i> Giao hàng nhanh chóng</h6>
        <h6> <i class="bi bi-arrow-right-short text-warning"></i> Đảm bảo chất lượng</h6>
    </div>
    </div>
    <div class=""><a routerLink="/about" class="text-decoration-none master-button border border-warning text-light m-2">Khám phá</a>
    </div>
  </div>

  <div class="col-5">

    <img class="img-gioithieu col-12 rounded" src="./assets/img/img-gioithieu.png" alt="">
    <div class="gioithieu-sale rounded  "><h3 class="text-center text-warning mt-3">Ưu đãi 25%</h3>
      <h6 class="text-center mt-1">cho các thành viên lâu năm và VIP</h6>

    </div>
  </div>


</div>
<div class="container mt-5">
  <h4 class="text-center text-warning">Gói sản phẩm đa dạng</h4>
  <h2 class="text-center  ">Cung cấp gói sản phẩm
    chất lượng nhất</h2>
  <div class="d-flex justify-content-around mt-5">
    <div class="image-box-style col-3 m-1">
      <div class="master-image-box">
        <img class="thumb  rounded-circle m-auto" src="https://inkythuatso.com/uploads/thumbnails/800/2022/12/truyen-tranh-thieu-nhi-09-11-13-31.jpg" alt="">

        <div class="content-wrap">
          <h4 class="text-center">Gói Truyện Tranh hấp dẫn </h4>
          <p>Old Book Store cung cấp gói sản phẩm truyện tranh đa dạng với nhiều thể loại hấp dẫn. Khách hàng có thể tìm thấy từ các bộ truyện cổ điển đến những tác phẩm mới nhất, tất cả đều được chọn lọc kỹ càng để mang lại trải nghiệm đọc tuyệt vời nhất.</p>

           <button type="button" class="master-button border border-warning text-light m-2">Tìm hiểu thêm</button>
        </div>
      </div>

    </div>
    <div class="col-3 image-box-style m-1">
      <div class="master-image-box">
        <img class="thumb  rounded-circle m-auto" src="https://simg.zalopay.com.vn/zlp-website/assets/Nhung_Nguoi_Khon_Kho_015fc936e4.jpg" alt="">

        <div class="content-wrap">
          <h4 class="text-center">Gói Truyện Tiểu thuyết ngắn </h4>
          <p>Old Book Store cung cấp gói sản phẩm tiểu thuyết phong phú với nhiều thể loại từ lãng mạn, khoa học viễn tưởng đến kỳ ảo. Khách hàng sẽ tìm thấy những tác phẩm kinh điển và hiện đại, được chọn lọc kỹ lưỡng để mang lại trải nghiệm đọc tuyệt vời nhất.</p>

          <button type="button" class="master-button border border-warning text-light m-2">Tìm hiểu thêm</button>
        </div>
      </div>
    </div>
    <div class="col-3 image-box-style m-1">
      <div class="master-image-box">
        <img class="thumb  rounded-circle m-auto" src="https://cdn.ntlogistics.vn/images/NTX/new_images/dich-vu-giao-hang-toan-quoc-hien-nay.jpg" alt="">

        <div class="content-wrap">
          <h4 class="text-center">Gói Dịch vụ giao hàng uy tín </h4>
          <p>Old Book Store cung cấp gói dịch vụ giao hàng uy tín, đảm bảo sách được vận chuyển nhanh chóng và an toàn đến tay khách hàng. Với dịch vụ này, bạn có thể yên tâm mua sắm và nhận sách đúng hẹn, không lo lắng về tình trạng hàng hóa.</p>
          <button type="button" class="master-button border border-warning text-light m-2">Tìm hiểu thêm </button>

        </div>
      </div>
    </div>
    <div class="col-3 image-box-style m-1">
      <div class="master-image-box">
        <img class="thumb  rounded-circle m-auto" src="https://photo-cms-vovworld.zadn.vn/w500/uploaded/vovworld/znaeng/2022_10_31/images5525258_4_wbmc.jpg" alt="">

        <div class="content-wrap">
          <h4 class="text-center">Gói Truyện Ma </h4>
          <p>Old Book Store cung cấp gói truyện ma, bao gồm nhiều tác phẩm kinh dị hấp dẫn và đáng sợ. Với bộ sưu tập truyện ma của chúng tôi, bạn sẽ được trải nghiệm những câu chuyện ly kỳ, rùng rợn, đảm bảo sẽ mang đến cho bạn những giây phút giải trí đầy kịch tính và hồi hộp.</p>

         <button type="button" class="master-button border border-warning text-light m-2">Tìm hiểu thêm</button>
        </div>
      </div>
    </div>




  </div>
</div>