<div class="container-fuint">
    <div>
        <div class="background_home d-flex align-items-end">
           
        </div>
        <div class=" thinhHanh d-flex shadow-lg mb-5 bg-body-tertiary rounded">
            <img class="col-5 rounded m-3 " src="./assets/img/img-thinhhanh.png" alt="">
            <div class="m-1 mt-3"> 
                <h4>Thịnh hành</h4>
                <p>cung cấp những cuốn sách rẻ nhất và bán chạy nhất.</p>
            </div>
        </div> 
        <div class=" c"><img class="shadow-filter-img" src="/assets/img/conan-img.png" alt=""></div>  
    </div>
    
   
</div>